<div class="modal-wrapper active">
    <div class="modal">
        <img src="https://pc.mid-del.net/psimages/scripts/dist/teacher_tools/js/lib/img/x-error.svg" width='80' alt="Erro">
        <h2><%= message %></h2>
        <p>Tente novamente!!</p>
    </div>
</div>