<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-pass" method="POST">
        <div class="input-block">
            <label for="room-pass" class="sr-only">Insira uma senha</label>
            <input type="password" name="room-pass" id="room-pass" placeholder="Insira uma senha">
        </div>
        <button><img src="/assets/users-white.svg" alt="Entrar na sala">Entrar na sala</button>
    </form>
</section>