.modal-wrapper.active {
    visibility: visible;
    opacity: 1;
}

.modal-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0;
    background: rgba(4, 9, 17, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.modal-wrapper .modal {
    width: min(59rem, 90%);
    padding: 6.4rem;
    margin: auto;
    background: var(--background);
    border-radius: .8rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.modal-wrapper .modal h2 {
    margin-bottom: 1.2rem;
}

.modal-wrapper .modal > p {
    color: var(--gray-dark);
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 2.4rem;
}

.modal-wrapper .modal form .input-block {
    margin: auto;
    width: min(100%, 30.2rem);
}

.modal-wrapper .modal form input {
    width: min(100%, 30.2rem);
    margin-bottom: 4rem;
    padding: 1.3rem 1.6rem;
    border: 2px solid var(--blue);
}

.modal-wrapper .input-block:focus-within::after {
    bottom: 4rem;
    background: var(--gray-dark);
}

.modal-wrapper .input-block.red:focus-within::after {
    background: var(--hover-red);
}

.modal-wrapper .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper .buttons > .button, .modal-wrapper .buttons > button {
    padding: 1.3rem 3.2rem;
}

.modal-wrapper .buttons > .button {
    margin-right: .8rem;
}


@media (max-width: 520px) {
    .modal-wrapper .modal {
        padding: 10%;
    }

    .modal-wrapper .buttons {
        flex-direction: column;
    }

    .modal-wrapper .buttons .button {
        width: 100%;
    }

    .modal-wrapper .buttons .button + .button {
        margin-top: .8rem;
    }
}