body {
    height: 100%;
}

.content {
    max-width: min(112rem, 90%);
}

main {
    margin-bottom: 3rem;
}

/* ------------------ HEADER  ------------------ */
#room header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
}

.button.outlined {
    margin-right: .8rem;
    padding: 1.5rem;
}

.button.outlined img {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    margin-right: 0
}

.button:nth-child(2) {
    padding: 1.5rem 3.2rem;
}

#room .button:nth-child(2) > img {
    width: 2rem;
    height: 2rem;
}


/* ------------------ QUESTION FORM  ------------------ */
#question-form form {
    padding: 1.6rem;
    border: .2rem solid var(--gray-blue);
    border-radius: 0 .8rem .8rem;
    margin-bottom: 1.6rem;
}

#question-form form textarea {
    background: transparent;
    resize: none;
    width: 100%;
    outline: none;
}

#question-form form textarea::placeholder {
    color: var(--gray-blue);
}

#question-form form footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: var(--icons-details);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

#question-form form footer > div {
    display: flex;
    align-items: center;
}

#question-form form footer > div img {
    margin-right: 0.9rem;
}

#question-form form footer button {
    height: auto;
    padding: .8rem 2.4rem;
    line-height: 2.4rem;
}


/* ------------------ QUESTIONS  ------------------ */
.question-wrapper {
    padding: 2.4rem;
    background: var(--light-blue);
    border-radius: 0 .8rem .8rem;
    margin-bottom: .8rem;
    filter: drop-shadow(2px 2px 4px var(--gray-blue));
}

.question-content {
    display: flex;
    align-items: flex-start;
}

.question-content .user{
    background-color: var(--blue);
    clip-path: circle();    /* border-radius: 50%; */
    padding: 1.4rem;
    margin-right: 1.6rem;
}

.question-wrapper .question-content p {
    word-break: break-word;
    display: flex;
    align-items: center;
    min-height: 5.5rem;
}

.question-wrapper .actions {
    display: flex;
    justify-content: flex-end;
}

.question-wrapper .actions > a {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--gray-dark);
    text-decoration: none;
    transition: transform 400ms;
}

.question-wrapper .actions > a:hover {  
    transform: translateY(-2px);    /* MOVE ELEMENT */
    text-shadow: 2px 2px 4px var(--gray-blue);
}

.question-wrapper .actions > a + a {
    margin-left: 2.4rem;
}   


.question-wrapper .actions > a > img {
    margin-right: .8rem;
}

/* ------------------  QUESTIONS READ  ------------------ */
.question-wrapper.read {
    background: var(--gray-medium);
}

.question-wrapper.read .user {
    background: var(--gray-blue);
}

/* ------------------  RESPONSIVE  ------------------ */
@media (max-width: 760px) {
    #room header {
        flex-direction: column;
    }

    #room header > a {
        text-align: center;
    }

    #room header > a > img {
        width: 50vw;
    }

    #room header .buttons {
        flex-direction: row;
        align-items: center;
        margin-top: 2rem;
    }
    
    #room header .button {
        width: 100%;
        margin-top: 0;
    }
    
    .question-wrapper .actions {
        margin-top: 2rem;
        justify-content: center;
    }
}

@media (max-width: 350px) {
    #room header .buttons {
        flex-direction: column;
        align-items: center;
    }
    
    #room header .buttons .button {
        width: 100%;
        margin: 0;
    }
    
    #room header .buttons > .button {
        width: 100%;
    }
    
    #room header .buttons .button + .button {
        margin-top: .8rem;
    }
}
